.card{
    width: 200px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.name{
    font-weight: bold;
    height: 50px;
    padding-top: 20px;
    color: white;
}

.price{
    color: white;
    height: 70px;
    padding-top: 50px;
}

.speed{
    height: 50px;
    padding-top: 20px;
}

.limit{
    height: 50px;
    background-color: #eeeeee;
}

.cardThird:hover {
    transform: scale(1.25);
}